@font-face {
    font-family: "Montserratâ€";
    src: url(fonts/Montserrat-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
}
body{
    background-image: linear-gradient(35deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: Lato, sans-serif;
}
h1, h2,h3{
    font-family: Montserrat;
}
header{
    background-image:url(img/studentsbg.png);
    height: 55vh;
}
