@font-face {
    font-family: "Montserrat”";
    src: url(fonts/Montserrat-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
}
body{
    background-color: linear-gradient(35deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: Lato, sans-serif;
}
h1, h2, h3{
    font-family: Montserrat;
}
header{
    position: relative;
    background-image:url(img/studentsbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;

}
header div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 4rem;
    background-color: #c5192d;
}
